.header {
    grid-area: h;
    display: grid;
    grid-template-columns: 60px 1fr;
    background-color: green;
    height: 60px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 10px;
  }
  .logo {
    height: 60px;
  }
  